apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wallos-data
  namespace: finance
spec:
  storageClassName: proxmox-csi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2G
