apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: infrastructure
  namespace: argocd
  labels:
    be.ghiot: infrastructure
spec:
  generators:
    - git:
        repoURL: https://github.com/cedsbe/home-infra
        revision: HEAD
        directories:
          - path: k8s/infra/*
  template:
    metadata:
      name: "{{ path.basename }}"
      labels:
        be.ghiot: infrastructure
    spec:
      project: infrastructure
      source:
        repoURL: https://github.com/cedsbe/home-infra
        targetRevision: HEAD
        path: "{{ path }}"
      destination:
        name: in-cluster
        namespace: argocd
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true
