apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Namespace
  - ns.yaml
  # PostgreSQL secrets and cluster
  - pg-superuser-credentials.yaml
  - pg-user-credentials.yaml
  - pg-cluster.yaml
  # n8n secrets
  - n8n-secrets.yaml
  # Gateway API route
  - http-route.yaml

# Helm chart deployment
helmCharts:
  - name: n8n
    releaseName: n8n
    namespace: n8n
    valuesFile: values.yaml
    repo: oci://8gears.container-registry.com/library
    version: "2.0.1"
