apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    # yamllint disable-line rule:line-length
    api-token: AgBsv3qo8hw60BRf9Z0ySPZSyV6/qTEaL5yjbA2L8gabN8E5Jc8fQMbUQ9MuKN1sHgolGWxQ1wv6rn1NTEuMiOfWzczoAZRlg5fF7pe+ozq9htEGs5h80cv2vgosPXsY38XcODk8TiiBWx3jpGAnw3eyHeceOmpDC78Hx/h+Zd+uZJ+gu/mNhmGHCofcyUwLvD8wOnp/9tf+o6qjLX/aAdT9GD+TgXR90k8ewWSURt45gIh13qJEMYSKWh1GS/9nHGaVDUqe8f1XTpthbZzKUYT+siGEIDMhIqa6VWDyAJX964CCgrniSSXDMOb+CP9vUx1ISLnbXHqTR41epD7pz+9wqXYKwjfr+UslL3BcdIgJTvz5nXfp39x8AZC6ReEBN6Dl+clCc0ojbvallZncKAqlSKM8V8EVyVLDpWVJ+r0or9UjoKDOpW1JuooAVhIydudSwaDwEzE1iDKkgahE/JLZq9UYaUobbYRSKM04hw2OaL7tjcYBiIEOxvvhYeGsLfphVrhAxUf6227dkiJsgJjS2QK6QZRlL5RLGJ2cpCeDPKVBraPm3XNyBp23htw31cF8TnlBTJKUpnPJypMIibOsbzc6s27DhR1rRuQYj7qOj+QAVGfCS/AoBRMY7LGN5kQ9bAhtGAx6d7qeKWiYPgo4Y3TjJ8fERCu3L7fr0VtK3mSsUDWSz6JxfWlEgpKYLEzcIGo99M7DB/duU6WCMfmYYSjzR5QX1hvFCNKO7Y+0yi8CQI3yPTTQ
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token
      namespace: cert-manager
    type: Opaque
