---
# Base Linux configuration role - Main tasks
# Note: become is handled at playbook/group_vars level

- name: Set timezone
  community.general.timezone:
    name: "{{ timezone }}"

- name: Configure NTP servers
  ansible.builtin.template:
    src: ntp.conf.j2
    dest: /etc/ntp.conf
    mode: "0644"
  notify: restart ntp

- name: Ensure DNS servers are configured
  ansible.builtin.template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    mode: "0644"

- name: Update package cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Install common packages
  ansible.builtin.package:
    name: "{{ common_packages }}"
    state: present

- name: Configure SSH
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    mode: "0644"
    validate: "/usr/sbin/sshd -t -f %s"
  notify: restart sshd

- name: Ensure firewall is installed (Debian/Ubuntu)
  ansible.builtin.apt:
    name: ufw
    state: present
  when:
    - ansible_os_family == "Debian"
    - firewall_enabled | default(true)

- name: Configure firewall rules
  community.general.ufw:
    rule: "{{ item.rule }}"
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  loop: "{{ firewall_rules }}"
  when: firewall_enabled | default(true)

- name: Enable firewall
  community.general.ufw:
    state: enabled
  when: firewall_enabled | default(true)

- name: Set system hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Configure hosts file
  ansible.builtin.template:
    src: hosts.j2
    dest: /etc/hosts
    mode: "0644"

- name: Create admin users
  ansible.builtin.user:
    name: "{{ item.name }}"
    groups: "{{ item.groups }}"
    shell: "{{ item.shell }}"
    create_home: true
  loop: "{{ linux_users }}"
  when: linux_users is defined
