apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # ClusterImageCatalog for CloudNativePG. See https://github.com/cloudnative-pg/artifacts/blob/main/image-catalogs/README.md
  - https://github.com/cloudnative-pg/artifacts/image-catalogs?ref=main
  - ns.yaml
  - pg-superuser-credentials.yaml
  - pg-user-credentials.yaml
  - pg-cluster.yaml
