apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: pocket-id-config
    namespace: auth
    literals:
      - APP_URL="https://pocket-id.k8s.ghiot.be/"
      - DB_CONNECTION_STRING="postgres://pocket-id-cluster-rw.auth.svc.cluster.local/pocket-id"
      - DB_PROVIDER="postgres"
      - ENCRYPTION_KEY_FILE="/app/secrets/encryption_key.txt"
      - MAXMIND_LICENSE_KEY_FILE="/app/secrets/maxmind_api_key.txt"
      - OTEL_METRICS_EXPORTER=prometheus
      - PGID="12501"
      - PUID="12501"

resources:
  # ClusterImageCatalog for CloudNativePG. See https://github.com/cloudnative-pg/artifacts/blob/main/image-catalogs/README.md
  - https://github.com/cloudnative-pg/artifacts/image-catalogs?ref=main
  - pg-superuser-credentials.yaml
  - pg-user-credentials.yaml
  - pg-cluster.yaml
  - pi-pvc.yaml
  - pi-secrets.yaml
  - pi-deployment.yaml
  - pi-svc.yaml
  - pi-servicemonitor.yaml
  - pi-http-route.yaml
