apiVersion: v1
kind: Service
metadata:
  name: pocket-id
  namespace: auth
spec:
  type: ClusterIP
  selector:
    app: pocket-id
  ports:
    - name: web
      port: 80
      targetPort: http
    - name: metrics
      port: 9464
      targetPort: metrics
