apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: monitoring
  namespace: argocd
  labels:
    be.ghiot: monitoring
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: https://github.com/cedsbe/home-infra
        revision: HEAD
        directories:
          - path: k8s/infra/monitoring/*
  template:
    metadata:
      name: "{{.path.basename}}"
      labels:
        be.ghiot: monitoring
    spec:
      project: monitoring
      source:
        repoURL: https://github.com/cedsbe/home-infra
        targetRevision: HEAD
        path: "{{.path.path}}"
      destination:
        name: in-cluster
        namespace: argocd
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true
